.menu-header .arrow {
    -fx-background-color: #c34d53;
}

.checkBox .box {
    -fx-background-color: white;
    -fx-border-color: #2196F3;
}

.checkBox .box:hover {
    -fx-background-color: #E3F2FD;
}

.checkBox:selected .box {
    -fx-background-color: #2196F3;
}

.checkBox:selected .mark {
    -fx-background-color: white;
}

.tab-pane *.tab-header-background {
    -fx-padding: 20 20 20 20;
    -fx-background-color: transparent;
    -fx-border-color: #ccc;
    -fx-border-width: 0 0 1 0;
}

.tab-pane .tab.tab-content-area {
    -fx-background-color: inherit;
    -fx-border-color: #ccc;
}

.tab {
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tab .tab-label {
    -fx-font-size: 15px;
    -fx-alignment: center;
    -fx-text-fill: #00ACEA;
}

.tab:selected {
    -fx-background-color: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #ccc #ccc #fff #ccc;
}

.tab:selected .tab-label {
    -fx-alignment: center;
    -fx-text-fill: black;
}

.tab:selected .focus-indicator {
    -fx-focus-color: #fff;
}

.tab-pane .tab:focused {
    -fx-focus-color: #fff;
}

/******** CSS GUI32 *********/

.combo-box .list-cell {
    -fx-padding: 0px 10;
}
.combo-box .scroll-bar:vertical .thumb{
    -fx-background-radius: 0;
}
.combo-box .scroll-bar:vertical {
    -fx-background-color: #f0f0f0;
}

.combo-box .scroll-bar:vertical .thumb {
    -fx-background-color: #c0c0c0;
}
/*
.combo-box .list-view {
    -fx-pref-width: 110;
}
*/

/******** CSS GUI62a *********/

.menu-item {
    -fx-background-color: #f1f1f1;
}

.menu-item:focused {
    -fx-background-color: #009fe5;
}

.menu-item:focused .plus-icon {
    -fx-fill:  #fff;
}

.menu-gui62a .arrow {
    -fx-background-color: #009fe5;
}

.close-label:hover {
    -fx-background-color: #c70d0d;
}

.close-label:hover .close-icon {
    -fx-fill: #fff;
}

/******** CSS GUI7 *********/

.finish-btn:hover {
    -fx-underline: true;
}